* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: #000;
  font-family: sans-serif;
}

.section-faq {
  margin: 0 3.2rem;
}

.container {
  max-width: 80rem;
  margin: 3.2rem 0;
}

.headings {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.heading-primary {
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
}

.faq-desc {
  font-size: 1.4rem;
  color: #575656;
  margin-bottom: 4.8rem;
}

.faq-question {
  border: 1px solid rgb(218, 216, 216);
  margin-bottom: 0.8rem;
  padding: 1.6rem;
  background-color: #f9fbfc;
}

.faq-active {
  background-color: transparent;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
}

.faq-q {
  font-size: 1.8rem;
  color: #4d4c4c;
}

.interactive-icon {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.close-icon {
  transform: rotate(45deg);
}

.ans {
  font-size: 1.4rem;
  color: #575656;
  line-height: 1.4;
  margin-top: 1.6rem;
  /* display: none; */
  transform: translateY(-5.4rem);
  transition: all 0.3s;
}

.answer {
  overflow: hidden;
  height: 0;
}

.active-height {
  height: auto;
}

.active-height .ans.active {
  transform: translateY(0);
}
