:root {
  --discount-bg: #fcd6cf;
  --discount-color: #2d1514;

  --nav-bg: #ffffff;
  --nav-color: #18191e;
  --search-bg: #eff3f6;
  --search-placeholder-color: #afb3b6;
  --cart-notify-color: #e35851;

  --body-bg: #eaf4fc;
  --title-color: #131e21;
  --para-color: #424c54;
  --pro-para-color: #677179;
  --img-bg: #fff;
  --tree-color: #247396;
  --gift-color: #e35951;
  --bread-color: #c5733a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--body-bg);
}

/* Header Section */
.header {
  background-color: var(--nav-bg);
}

.header .discount-container {
  background-color: var(--discount-bg);
}

.header .discount-container .discount {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 98% 2%;
  padding: 0.8rem 3.4rem;
  font-size: 1.2rem;
  color: var(--discount-color);
  font-weight: 500;
  align-items: center;
}

.header .discount > p {
  justify-self: center;
}

.header .discount > ion-icon {
  font-size: 1.8rem;
  justify-self: end;
  cursor: pointer;
}

.nav {
  height: 5.8rem;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  padding: 1.2rem 3.4rem;
  align-items: center;
  justify-content: space-between;
  gap: 3.8rem;
  color: var(--nav-color);
}

.nav > h1 a {
  text-decoration: none;
  font-size: 1.8rem;
  color: inherit;
}

.nav > a {
  display: flex;
  font-size: 1.8rem;
  margin-right: 0.4rem;
  color: inherit;
  position: relative;
}

.nav > a::after {
  content: "2";
  font-size: 0.9rem;
  position: absolute;
  background-color: var(--cart-notify-color);
  height: 13px;
  width: 13px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  right: -15%;
  top: -20%;
}

.nav .nav-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav .nav-items .search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.nav .nav-items .search-bar > input {
  padding: 1rem 3.2rem;
  border-radius: 100rem;
  border: none;
  background-color: var(--search-bg);
  outline: none;
  font-size: 1.2rem;
}

.nav .nav-items .search-bar > input::placeholder {
  color: var(--search-placeholder-color);
}

.nav .nav-items .search-bar .search-icon {
  font-size: 1.8rem;
  position: absolute;
  left: 4%;
}

.nav .nav-items .nav-item ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.nav .nav-items .nav-item ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
  font-weight: 600;
}

.nav .nav-items .nav-item ul li::after {
  content: "";
  margin: auto;
  display: block;
  height: 0.2rem;
  width: 0%;
  background: transparent;
  transition: all 0.5s ease;
}

.nav .nav-items .nav-item ul li:hover::after {
  width: 100%;
  background: var(--cart-notify-color);
}

/* Product Section */
img {
  width: 100%;
}

.featured-products {
  margin: 0 3.4rem;
}

.container {
  max-width: 80rem;
  margin: 5.4rem auto;
  text-align: center;
}

.primary-heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.fp-desc {
  font-size: 1.6rem;
  color: var(--para-color);
  font-weight: 400;
  margin-bottom: 6.4rem;
}

.product-menu {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: space-around;
  margin-bottom: 6.4rem;
}

.menu-img {
  width: 13rem;
  height: 13rem;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.tree::before {
  display: inline-block;
  content: "NEW";
  color: var(--img-bg);
  background-color: var(--tree-color);
  position: absolute;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
}

.gift::before {
  display: inline-block;
  content: "-23%";
  color: var(--img-bg);
  background-color: var(--gift-color);
  position: absolute;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
}

.menu-img img {
  position: relative;
  z-index: -2;
}

.tree.active {
  box-shadow: inset 0 0 0 0.3rem var(--tree-color);
}
.gift.active {
  box-shadow: inset 0 0 0 0.3rem var(--gift-color);
}
.bread.active {
  box-shadow: inset 0 0 0 0.3rem var(--bread-color);
}

.product-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto;
  column-gap: 2.8rem;
}

.product-details > p {
  font-size: 2rem;
}

.product-detail {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-detail .title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.product-detail .price {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.ratings {
  display: flex;
  gap: 0.4rem;
  font-size: 1.8rem;
  color: #ffcc6a;
  margin-bottom: 1.2rem;
}

.product-desc p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--pro-para-color);
}

button {
  width: fit-content;
  margin-top: auto;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  color: var(--img-bg);
  border: none;
  background: var(--tree-color);
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
}

button a:link,
button a:visited {
  text-decoration: none;
  color: var(--img-bg);
}

@media (max-width: 45em) {
  html {
    font-size: 55%;
  }

  .product-details {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2.8rem;
  }

  .product-details {
    max-height: 50vh;
  }

  button {
    margin: 3rem 0;
  }

  .nav {
    padding: 1.2rem 2.4rem;
    gap: 2.8rem;
  }

  .nav .nav-items {
    justify-content: center;
  }

  .nav .nav-items .nav-item {
    display: none;
  }
}
