/*
  - FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  - SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --background-backuo: rgb(252, 141, 96);
  --background: linear-gradient(
    77deg,
    rgba(252, 141, 96, 1) 36%,
    rgba(255, 197, 110, 1) 78%
  );
  --nav-bg: #242e4c;
  --click-btn: #ff6144;
  --color: #f3f3f4;
  --title-color: #242e4c;
  --p: #242e4c;
  --placeholder: #9196a5;
  --white: #fff;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--background);
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 8.4rem auto;
}

/* HEADER SECTION */

.header {
  background: var(--nav-bg);
  height: 5.8rem;
  border-radius: 1.2rem 1.2rem 0 0;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
  padding: 0 2rem;
}

.header-nav-list {
  list-style: none;
  color: var(--color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.header-nav-list-item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.header-nav-list-item-1 span {
  display: inline-block;
}

.header-nav-list-item-1 ion-icon {
  font-size: 1.6rem;
  display: inline-block;
}

.header-nav-list-item .signup-btn {
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 0.4rem;
  color: #fff;
  background: var(--click-btn);
  cursor: pointer;
  transition: all 0.4s;
  font-size: inherit;
}

.header-nav-list-item .signup-btn:hover {
  box-shadow: inset 0 0 0 2px var(--click-btn);
  background-color: transparent;
}

/* HERO SECTION */
.section-hero {
  min-height: 60vh;
  background-image: url("./images/hero-img.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  width: 50%;
  padding: 11rem 0 0 11rem;
}

.heading-primary {
  font-size: 2.8rem;
  color: var(--title-color);
  margin-bottom: 1.2rem;
  font-family: 700;
}

.delivery-desc {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--p);
  margin-bottom: 5rem;
}

.wrapper form input,
.wrapper form button {
  box-shadow: 0 1rem 0.9rem rgba(0, 0, 0, 0.08);
}

.wrapper form input {
  border: none;
  font-size: 1.6rem;
  padding: 1.4rem 2rem;
}

.wrapper form input::placeholder {
  color: #9196a5;
}

.wrapper form button {
  border: none;
  font-size: 1.6rem;
  padding: 1.4rem 2rem;
  background-color: var(--click-btn);
  position: relative;
  left: -0.2rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}

.wrapper form button:hover {
  background-color: #b93b25;
}

.wrapper form input:focus {
  outline: none;
}

/* FOOTER SECTION */
.footer {
  border-radius: 0 0 1.2rem 1.2rem;
  overflow: hidden;
}

.footer-nav {
  height: 4rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
  color: var(--placeholder);
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-nav-list li {
  cursor: pointer;
}

.footer-nav-list li:nth-child(1) {
  list-style: none;
}

.footer-nav-copy {
  list-style: none;
}

.footer-nav-copy li {
  cursor: pointer;
}

.footer-nav-social {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.8rem;
}

.footer-nav-social li a {
  transition: all 0.4s;
}

.footer-nav-social li a:link,
.footer-nav-social li a:visited {
  color: var(--placeholder);
}

.footer-nav-social li a:focus,
.footer-nav-social li a:hover {
  color: rgb(49, 49, 230);
}

@media (max-width: 63em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 55em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 46em) {
  .wrapper {
    padding: 8rem 0 0 8rem;
  }

  .wrapper form input,
  .wrapper form button {
    width: 100%;
    left: 0;
    padding: 1rem 1.2rem;
  }

  .wrapper form button {
    margin-top: 2rem;
    border-radius: 1rem;
  }
}

@media (max-width: 36em) {
  .wrapper {
    padding: 5rem 0 0 6rem;
  }
}

@media (max-width: 29em) {
  html {
    font-size: 35%;
  }

  .wrapper {
    padding: 4rem 0 0 6rem;
  }
}
