/*
  - FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  - SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --background-backuo: rgb(252, 141, 96);
  --background: linear-gradient(
    77deg,
    rgba(252, 141, 96, 1) 36%,
    rgba(255, 197, 110, 1) 78%
  );
  --nav-bg: #242e4c;
  --click-btn: #ff6144;
  --color: #f3f3f4;
  --title-color: #242e4c;
  --p: #242e4c;
  --placeholder: #9196a5;
  --white: #fff;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--background);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 130rem;
  padding: 0 3.2rem;
  margin: 8.4rem auto;
}

/* HEADER SECTION */

.header {
  background: var(--nav-bg);
  height: 5.8rem;
  border-radius: 1.2rem 1.2rem 0 0;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
  padding: 0 2rem;
}

.header-nav-list {
  list-style: none;
  color: var(--color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.header-nav-list-item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-list-item-1 span {
  display: inline-block;
}

.header-nav-list-item-1 ion-icon {
  font-size: 1.6rem;
  display: inline-block;
}

.header-nav-list-item .signup-btn {
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 0.4rem;
  color: #fff;
  background: var(--click-btn);
  cursor: pointer;
}
