:root {
  --body-bg-1: #fd9c7f;
  --body-bg-2: rgb(254, 113, 101);
  --input-bg: rgb(65, 84, 93);
  --input-palceholder-color: rgb(110, 122, 131);

  --nav-item-bg: rgb(52, 71, 80);
  --nav-text-color: rgb(215, 218, 225);
  --nav-notify-bgcolor: rgb(44, 63, 72);
  --nav-notify-color: rgb(162, 167, 178);

  --remainder-detail-bg: #fff;
  --remainder-color: rgb(87, 93, 94);
  --remainder-close: rgb(238, 242, 243);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: linear-gradient(to right top, var(--body-bg-2), var(--body-bg-1));
  font-family: sans-serif;
}

.section-primary {
  /* min-width: 10rem; */
  max-width: 100rem;
  padding: 2rem 2rem;
}

.grid {
  display: grid;
  /* grid-template-columns: 24rem 44rem; */
  grid-template-columns: 1fr 2fr;
}

.nav {
  background-color: var(--nav-item-bg);
  color: #333;
  color: var(--nav-text-color);
}

.nav .input-search {
  padding: 2rem 1.6rem;
  text-align: center;
}

.input-search input {
  width: 90%;
  border: none;
  padding: 1rem;
  border-radius: 1.6rem;
  background-color: var(--input-bg);
  color: #fff;
  font-size: 1.6rem;
}

.input-search input::placeholder {
  text-align: center;
  color: var(--input-palceholder-color);
}

.nav-item {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.list-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.notify-no {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 1.7rem;
  text-align: center;
  background-color: var(--nav-notify-bgcolor);
  padding: 0.3rem 1rem;
  border-radius: 100rem;
}

.notify-no p {
  color: inherit;
}

.nav-item:hover {
  background: #fff;
  color: var(--input-bg);
}

.nav-item:hover .notify-no {
  background: #aaa;
  color: var(--input-bg);
}

.remainder-details {
  background-color: #fff;
}

.remainder-list.open {
  padding: 3rem 2.2rem 2.2rem 2.2rem;
}

.remainder-title {
  display: flex;
  justify-content: space-between;
}

.remainder-title h2 {
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  color: var(--remainder-color);
}

.remainder-title ion-icon {
  font-size: 1.6rem;
  color: var(--nav-notify-color);
}

.remainder-details ul {
  list-style: none;
  color: var(--nav-notify-color);
  font-size: 1.6rem;
}

.remainder-details ul li {
  padding: 1.2rem;
}

.remainder-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.remainder-list.close {
  align-items: center;
  padding: 1.6rem 1.6rem;
  padding-bottom: 0;
  background-color: var(--remainder-close);
}

.remainder-list.close:last-child {
  margin-bottom: 7rem;
}

.remainder-details ul li {
  position: relative;
}

.strike::before {
  content: "";
  height: 0.04rem;
  width: 40%;
  position: absolute;
  background-color: rgb(113, 113, 113);
  top: 50%;
  left: -0.2%;
  transform: translateY(-50%);
}

@media (max-width: 44em) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/*
  - FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  - SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */
