:root {
  --body-bg: #5b6979;
  --service1-bg: #fcf4d0;
  --service2-bg: #e1fdfb;
  --service3-bg: #fddfd0;

  --h1-color: #1c1b14;
  --para-color: #332f29;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-content: center;
  background-color: var(--body-bg);
  color: var(--h1-color);
  min-height: 100vh;
  font-family: sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 110rem;
  display: flex;
  /* gap: 1rem; */
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3.2rem;
}

.service:nth-child(1) {
  background-color: var(--service1-bg);
}

.service:nth-child(2) {
  background-color: var(--service2-bg);
}

.service:nth-child(3) {
  background-color: var(--service3-bg);
}

.service {
  display: flex;
  padding: 1.6rem 2.8rem;
  align-items: center;
  gap: 1.4rem;
  flex: 1;
  margin: 0.6rem;
}

.service-img {
  width: 5rem;
}

.service-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.service-desc {
  font-size: 1.3rem;
}

@media (max-width: 375px) {
  .service-img {
    width: 7rem;
  }
}
