:root {
  --body-bg: #9ca6b0;
  --primary-color: #227393;
  --customer-chat-bg: #dff4fd;
  --va-chat-bg: #eff3f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--body-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  margin: 0 3.2rem;
  color: #000;
  overflow: hidden;
}

.va-section {
  border-radius: 2rem;
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.5s;
}

.active {
  transform: translateY(80rem);
}

.activeRotate {
  transform: rotate(180deg);
}

.va {
  background-color: var(--primary-color);
  padding: 2.4rem 2.8rem;
  text-align: center;
  color: #fff;
}

.heading-primary {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}

.va-desc {
  font-size: 1.3rem;
  color: var(--customer-chat-bg);
}

.chat-section {
  overflow-y: auto;
  height: 37rem;
}

.va-chat-section {
  display: flex;
  gap: 1.4rem;
  padding: 6.4rem 1.8rem 1.8rem 1.8rem;
}

.va-profile {
  width: 4.8rem;
  align-self: flex-end;
}

.va-chat {
  font-size: 1.6rem;
  background-color: var(--va-chat-bg);
  margin-bottom: 1rem;
  padding: 1rem 1.4rem;
}

.va-chat-detail {
  color: #b3b1b1;
  font-size: 1.2rem;
}

.customer-chat-section {
  padding: 1.8rem;
  padding-bottom: 2.6rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid #d1cece;
}

.customer-chat:nth-child(2) {
  width: 65%;
}

.customer-chat {
  padding: 1rem 1.4rem;
  background-color: var(--customer-chat-bg);
  margin-bottom: 1rem;
  width: fit-content;
}

.customer-input-chat {
  position: relative;
}

.customer-input-chat > input {
  font-size: 1.6rem;
  width: 100%;
  padding: 1.8rem;
  border: none;
  color: #000;
  outline: none;
}

.customer-input-chat > input::placeholder {
  color: #6b6868;
}

.customer-input-chat .chat-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 8%;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.va-interaction-btn {
  margin-top: 1.4rem;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  align-self: flex-end;
  transition: transform 0.5s;
}

@media (max-width: 410px) {
  html {
    font-size: 56%;
  }
}
