:root {
  --body-bg: #1a7592;
  --heading-color: #1b1d1f;
  --para-color: #212121;

  --border-color: #b6b7be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-bg);
  min-height: 100vh;
  display: grid;
  place-content: center;
  color: var(--heading-color);
  font-family: sans-serif;
}

.section-feedback {
  margin: 0 4.4rem;
}

.container {
  max-width: 65rem;
  background-color: #fff;
  padding: 6.8rem;
  border-radius: 1.6rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.heading-primary {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.feedback-para {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
  line-height: 1.5;
}

.feedback-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 2.8rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon {
  box-shadow: inset 0 0 0 0.1rem rgba(182, 183, 190, 0.4);
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.icon.active {
  box-shadow: inset 0 0 0 0.2rem var(--body-bg);
}

.emoji {
  font-size: 4.4rem;
  margin-bottom: 0.8rem;
}

.icon > p {
  font-size: 1.2rem;
  color: var(--border-color);
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.feedback-form > label {
  font-size: 1.6rem;
  font-weight: 700;
  align-self: flex-start;
}

.feedback-form > textarea {
  border: 1px solid rgba(182, 183, 190, 0.4);
  padding: 1rem;
}

.feedback-form > textarea::placeholder {
  color: var(--border-color);
  font-family: sans-serif;
}

.feedback-form > button {
  margin-top: 1.4rem;
  width: fit-content;
  align-self: center;
  background-color: var(--body-bg);
  color: #fff;
  border: none;
  padding: 1.4rem 2rem;
  border-radius: 100rem;
  cursor: pointer;
}

.close-icon {
  font-size: 2.4rem;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.santa-hat {
  position: absolute;
  top: -7%;
  left: -12%;
  transform: scaleX(-1) rotate(30deg);
}

.greeting {
  background-color: var(--body-bg);
  color: #fff;
  width: fit-content;
  font-size: 1.4rem;
  align-self: center;
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  /* margin-top: 2rem; */
  opacity: 0;
  height: 0;
  transition: opacity 0.3s;
}

.greeting.show {
  opacity: 1;
  height: auto;
}

@media (max-width: 700px) {
  html {
    font-size: 55%;
  }

  .santa-hat {
    left: -15%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .santa-hat {
    left: -18%;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 6.8rem 3.4rem;
  }

  .santa-hat {
    left: -23%;
  }
}
