:root {
  --body-bg: #415e66;
  --input-focus-bg: #f9fbfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: var(--body-bg);
  font-family: sans-serif;
}

.section-cta {
  margin: 0 3.2rem;
}

.container {
  width: 40rem;
  background: #fff;
  color: rgb(58, 58, 58);
  padding: 2.8rem 3.4rem;
  border-radius: 0.8rem;
}

.heading-primary {
  color: #000;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 2rem;
}

.input-fields > label {
  font-size: 1.1rem;
}

.required-field {
  color: red;
  font-size: 1.2rem;
}

.input-fields > input {
  width: 100%;
  padding: 0.6rem;
  outline: none;
  border: 1px solid #d7d5d5;
  margin-left: 0.2rem;
}

.payment-container {
  margin-bottom: 2.4rem;
}

.payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment > button {
  width: 30%;
  padding: 1rem 0.2rem;
  border: 1px solid #d7d5d5;
  background-color: transparent;
  cursor: pointer;
}

.exp-date,
.cvc {
  display: flex;
  flex-direction: column;
}

.card-details {
  flex-direction: row;
  margin-bottom: 3.2rem;
}

.details > label {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
}

.details > input {
  width: 100%;
  padding: 0.6rem;
  outline: none;
  border: 1px solid #d7d5d5;
  margin-left: 0.2rem;
}

.order-btn {
  color: #fff;
  background-color: #227393;
  padding: 0.8rem 1.4rem;
  font-size: 1.2rem;
  border-radius: 100rem;
  border: none;
  cursor: pointer;
}

input:focus {
  background-color: var(--input-focus-bg);
}

input::placeholder {
  color: #d7d5d5;
}

.active {
  background-color: #adacac !important;
}
